<div>
	<a href="/#pokemon/{{pokemon.name | normalize}}">
        <div class="pokemon panel U-borderHover"><!-- panel-primary -->
            <div class="panel-heading">
                <pokemon-name></pokemon-name>
            </div>
            <div class="panel-body">
            		<pokemon-image></pokemon-image>
            </div>
            <div class="panel-footer">
                <div class="text-center">
                    <pokemon-type></pokemon-type>
                </div>
            </div>
        </div>
    </a>
</div>