gris_claro = #E0E0E0

body
  font-size 16px
  background gris_claro
  margin 0
  padding 0
h1
  margin 0

/*utilities*/
.U-margintop4em
  margin-top 4em !important
/*</utilities*/

/*nav*/
.navbar-brand
  font-weight 800

.navbar-brand img
  width 24px
  display inline-block !important
/*</nav*/

/*type*/
.type 
  margin-left 1px
  color white
  border-radius 0.2em
  padding 5px 12px

.type-normal 
  background-color #a8a878
  border solid 1px #6d6d4e

.type-fire 
  background-color #f08030
  border solid 1px #9c531f

.type-fighting 
  background-color #c03028
  border solid 1px #7d1f1a

.type-water 
  background-color #6890f0
  border solid 1px #445e9c

.type-flying 
  background-color #a890f0
  border solid 1px #6d5e9c

.type-grass 
  background-color #78c850
  border solid 1px #4e8234

.type-poison 
  background-color #a040a0
  border solid 1px #c183c1

.type-electric 
  background-color #f8d030
  border solid 1px #a1871f

.type-ground 
  background-color #e0c068
  border solid 1px #927d44

.type-psychic 
  background-color #f85888
  border solid 1px #a13959

.type-rock 
  background-color #b8a038
  border solid 1px #786824

.type-ice 
  background-color #98d8d8
  border solid 1px #638d8d

.type-bug 
  background-color #a8b820
  border solid 1px #6d7815

.type-dragon 
  background-color #7038f8
  border solid 1px #4924a1

.type-ghost 
  background-color #705898
  border solid 1px #493963

.type-dark 
  background-color #705848
  border solid 1px #49392f

.type-steel 
  background-color #b8b8d0
  border solid 1px #787887

.type-fairy 
  background-color #ee99ac
  border solid 1px #9b6470
/*</type*/