gris_claro = #E0E0E0

body
  font-size 16px
  background gris_claro
  margin 0
  padding 0
h1
  margin 0
a:hover
  text-decoration: none

/*utilities*/
.U-margintop2em
  margin-top 2em !important
  
.U-marginbottom4px
  margin-bottom 4px
  
.U-cajasPkm
  background white
  border-radius 0.5em
  padding 0.5em
  margin 0.5em 0.2em
  
.U-cajasPkm:hover,
.U-borderHover:hover
  box-shadow 0 0 5px rgba(0,0,0,0.7)

.U-cajasPkm a
  text-decoration none

.U-inlineBlock
  display inline-block !important
/*</utilities*/

/*nav*/
.navbar-brand
  font-weight 800

.navbar-brand img
  width 24px
  display inline-block !important

/*</nav*/

/*type*/
.type 
  margin-left 1px
  color white
  border-radius 0.2em
  padding 5px 12px

.type-normal 
  background-color #a8a878
  border solid 1px #6d6d4e

.type-fire 
  background-color #f08030
  border solid 1px #9c531f

.type-fighting 
  background-color #c03028
  border solid 1px #7d1f1a

.type-water 
  background-color #6890f0
  border solid 1px #445e9c

.type-flying 
  background-color #a890f0
  border solid 1px #6d5e9c

.type-grass 
  background-color #78c850
  border solid 1px #4e8234

.type-poison 
  background-color #a040a0
  border solid 1px #c183c1

.type-electric 
  background-color #f8d030
  border solid 1px #a1871f

.type-ground 
  background-color #e0c068
  border solid 1px #927d44

.type-psychic 
  background-color #f85888
  border solid 1px #a13959

.type-rock 
  background-color #b8a038
  border solid 1px #786824

.type-ice 
  background-color #98d8d8
  border solid 1px #638d8d

.type-bug 
  background-color #a8b820
  border solid 1px #6d7815

.type-dragon 
  background-color #7038f8
  border solid 1px #4924a1

.type-ghost 
  background-color #705898
  border solid 1px #493963

.type-dark 
  background-color #705848
  border solid 1px #49392f

.type-steel 
  background-color #b8b8d0
  border solid 1px #787887

.type-fairy 
  background-color #ee99ac
  border solid 1px #9b6470
/*</type*/

/*form*/
.form-group
  padding 10px
  
.ng-invalid.ng-dirty
  border-color #D9230F

.ng-valid.ng-dirty
  border-color #468847
/*</form*/

/*pokemon*/
.pokemon
  height 350px
  border 1px solid #158cba

.pokemon h1
  font-size 18px

.pokemon .panel-body 
  height 250px
  border-top 1px solid #158cba

.pokemon img 
  position absolute
  top 0
  right 0
  bottom 0
  left 0
  margin auto
  max-width 200px
  max-height 220px

.pokemon pokemon-type 
  font-size 22px

/* footer */
.panel-footer
  margin-top 6px
  border-top 1px solid rgba(0, 0, 0, 0.2)
/*</pokemon*/

/* error */
.page-header
  margin 1.5em 0 0.7em 0

.page-header h2
  margin 0.3em 0 0 0

.cardError
  border 1px solid #158cba
  margin 0 auto
  margin-bottom 1em
  max-width 320px

.cardError .panel-heading
  border-bottom 1px solid #158cba

/* </error */

@media screen and (min-width 768px)
  .pokemon
    max-width 300%