<!-- pokemon -->
<div ng-if="!pokemon">
    <div class="page-header">
        <h2>Error </h2>
    </div>
    <a href="/#/">
        <div class="panel U-borderHover cardError">
            <div class="panel-heading">
                <h4>
                    Pokémon not found
                    <small class="U-inlineBlock">or not exists</small>
                    <span class="badge pull-right">error</span>
                </h4>
            </div>
            <div class="panel-body">
                <img class="img-responsive" src="../img/pokemonFound.jpg" alt="pokemon">
            </div>
        </div>  
    </a>
</div>
<section ng-if="pokemon">
    <article class="page-header">
        <pokemon-name></pokemon-name>
    </article>
    <section class="row">
        <figure class="col-sm-12 col-md-6 pokeimg">
            <pokemon-image></pokemon-image>
        </figure>
        <article class="col-md-6" ng-controller="TabController as tabs">
            <ul class="nav nav-tabs nav-justified">
                <li ng-class="{ active: tabs.isActive(1) }"><a ng-click="tabs.selectTab(1)">Pokédex</a></li>
                <li ng-class="{ active: tabs.isActive(2) }"><a ng-click="tabs.selectTab(2)">Stats</a></li>
                <li ng-class="{ active: tabs.isActive(3) }"><a ng-click="tabs.selectTab(3)">Evolution</a></li>
            </ul>
            <!-- Pokedex -->
            <div class="tab-content">    
                <article ng-show="tabs.isActive(1)">
                    <pokemon-data></pokemon-data>    
                </article>
                <!-- Stats -->
                <article ng-show="tabs.isActive(2)">
                    <pokemon-stats></pokemon-stats>
                </article>
                <!-- Evolution -->
                <article ng-show="tabs.isActive(3)">
                    <pokemon-evolution></pokemon-evolution>
                </article>
            </div> 
        </article>
    </section>
        <!-- comments -->
        <pokemon-comments name="{{pokemon.name}}"></pokemon-comments>
        <!-- /comments-->
</section>
  <!-- /pokemon -->