<!-- pokemon -->
<section>
    <article class="page-header">
        <pokemon-name></pokemon-name>
    </article>
    <section class="row">
        <figure class="col-sm-12 col-md-6 pokeimg">
            <pokemon-image></pokemon-image>
        </figure>
        <article class="col-md-6" ng-controller="TabController as tabs">
            <ul class="nav nav-tabs nav-justified">
                <li ng-class="{ active: tabs.isActive(1) }"><a ng-click="tabs.selectTab(1)">Pokédex</a></li>
                <li ng-class="{ active: tabs.isActive(2) }"><a ng-click="tabs.selectTab(2)">Stats</a></li>
                <li ng-class="{ active: tabs.isActive(3) }"><a ng-click="tabs.selectTab(3)">Evolution</a></li>
            </ul>
            <!-- Pokedex -->
            <div class="tab-content">    
                <article ng-show="tabs.isActive(1)">
                    <pokemon-data></pokemon-data>    
                </article>
                <!-- Stats -->
                <article ng-show="tabs.isActive(2)">
                    <pokemon-stats></pokemon-stats>
                </article>
                <!-- Evolution -->
                <article ng-show="tabs.isActive(3)">
                    <pokemon-evolution></pokemon-evolution>
                </article>
            </div> 
        </article>
    </section>
        <!-- comments -->
        <pokemon-comments></pokemon-comments>
        <!-- /comments-->
</section>
  <!-- /pokemon -->